/node_modules/
__pycache__/
*.pyc
.gradle
.eslintcache
/dist
/dist-test
package-lock.json
test/fixtures/**/build
npm-debug.log

# Diagnostic reports (https://nodezjs.org/api/report.html) 
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json